.navbar {
    position: fixed;
    width:100%;
    opacity:0.7;
    background-color: black;
  }

  .link{
      color:white;
      font-family: "Oswald";
      font-weight: bold;
      opacity:1;
      font-size:162%;
      text-align:right;
  }

  .slide-image {
    height: 95vh;
  }
  .fundo{
    width: 100%;
    height: 100%;
  }

  /* SOMOS SECTION CSS RULES */
  .somos {
    background-color:#EEC94C;
    height: 100vh;
  }
  .somos-title {
    height: 15ß;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .somos-content {
    margin: 0;
    padding: 0;
    height: 85%;
  }
  .somos-divider {
    flex-grow: 1;
    width: 30%;
    padding: 0 5%; 
  }
  .somos-divider hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 10px;
    background-color: white;
  }
  .somos-h1 {
    flex-grow: 1;
    width: 40%;
    text-align: center;
  }
/* FIM SOMOS SECTION CSS RULES */

  .eventos{
    background-color:#E47A3F;
    height: 100vh;
    margin-top:-20px;
  }

  .noticias{
    background-color:#2F898D;
    height: 100vh;
    margin-top:-20px;
  }

  .contatos{
    background-color: #6A6A6A;
    height: 100vh;
    margin-top:-20px;
  }

  h1{
    color:white;
    font-family: "Oswald";
    font-weight: bold;
    text-align:center;
    font-size:500%;
    margin-top: 0px;
    padding-top: 20px;
  }

  .logo{
    width:15%;
  }

  ul {
    list-style-type: none;
}