@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.navbar {
    position: fixed;
    width:100%;
    opacity:0.7;
    background-color: black;
  }

  .link{
      color:white;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      opacity:1;
      font-size:162%;
      text-align:right;
  }

  .slide-image {
    height: 95vh;
  }
  .fundo{
    width: 100%;
    height: 100%;
  }

  section {
    height: 100vh;
  }

  .div-title {
    height: 15%;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .title-divider-left {
    flex-grow: 1;
    width: 30%;
    padding: 0 0 0 10%; 
  }
  .title-divider-right {
    flex-grow: 1;
    width: 30%;
    padding: 0 10% 0 0; 
  }
  .title-divider-left hr, .title-divider-right hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 10px;
    background-color: white;
  }
  .title-h1 {
    flex-grow: 1;
    width: 40%;
    text-align: center;
  }
  .div-content {
    margin: 0;
    padding: 0;
    height: 85%;
  }

  .somos {
    background-color:#EEC94C;
  }

  .eventos{
    background-color:#E47A3F;
  }

  .noticias{
    background-color:#2F898D;
  }

  .contatos{
    background-color: #6A6A6A;
  }

  h1{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align:center;
    font-size:500%;
    margin-top: 0px;
    padding-top: 20px;
  }

  .logo{
    width:15%;
  }

  ul {
    list-style-type: none;
}