@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

  /***** ESTILOS GLOBAIS ****/

  .navbar {
    position: fixed;
    width:100%;
    height: 60px;
    opacity:0.7;
    background-color: black;
  }
  .navbar-brand {
    float: left;
    width: 50%;
    display: flex;
  }
  .navbar-nav {
    float: right;
    width: 50%;
    height: 60px;
    padding-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-nav>li {
    flex-grow: 1;
  }

  .link{
      color:white;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      opacity:1;
      font-size:162%;
      text-align:center;
  }

  section {
    height: 100vh;
  }

  .div-title {
    height: 15%;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .title-divider-left {
    flex-grow: 1;
    width: 30%;
    padding: 0 0 0 10%; 
  }
  .title-divider-right {
    flex-grow: 1;
    width: 30%;
    padding: 0 10% 0 0; 
  }
  .title-divider-left hr, .title-divider-right hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 10px;
    background-color: white;
  }
  .title-h1 {
    flex-grow: 1;
    width: 40%;
    text-align: center;
  }
  .div-content {
    margin: 0;
    padding: 0;
    height: 85%;
  }

  /***** FIM DOS ESTILOS GLOBAIS ****/

  .slide-image {
    height: 95vh;
  }
  .fundo{
    width: 100%;
    height: 100%;
  }

  .somos {
    background-color:#EEC94C;
  }

  .eventos{
    background-color:#E47A3F;
  }

  .noticias{
    background-color:#2F898D;
  }

  .contatos{
    background-color: #6A6A6A;
  }

  h1{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align:center;
    text-transform: uppercase;
    font-size:500%;
    margin-top: 0px;
    padding-top: 20px;
  }

  .logo{
    height: 100%;
    width:auto;
  }

  ul {
    list-style-type: none;
}

/***Contactos***/

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-x {
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  flex-grow: 1;
  width: 50vw;
}

.direito {
  flex-basis: auto;
  margin-left: 0px;
  flex-grow: 50;
}

.formulario {
  width: 100%;
}

.icone{
  width: 3%;
}

.enviar{
  background-color: black;
  color:white;
  font-family: "Oswald";
  font-weight: bold;
  width:100%;
}

.info{
  color:white;
  font-family: "Oswald";
  font-weight: bold;
  font-size:150%;
}

h2{
  color:white;
  font-family: "Oswald";
  font-weight: bold;
  font-size:250%;
}

.forms{
  color:white;
  font-family: "Oswald";
  font-weight: medium;
  font-size:150%;
}


/***QUEM SOMOS***/

.about{
  color:white;
  font-family: "oswald";
  font-size: 1.5vw;
  text-align: justify;
  margin-left:10%;
  margin-right:10%;
  margin-top:5%;
}

.nomes{
  color:white;
  font-family:"oswald";
  font-weight: lighter;
}

.cargo{
  color:white;
  font-family:"oswald";
  font-weight: medium;
}

.tabela{
  text-align: justify;
  margin-left:10%;
  margin-top:5%;
  font-size:1vw;
}

h2{
  margin-left:10%;
  color:white;
  font-family:"oswald";
}
h3{
  margin-left:10%;
  color:white;
  font-family:"oswald";
}

.associacao{
  position:relative;
    max-width:45%;
    max-height:45%;
}

.cima{
margin-top: -5.5%;
width: auto;
margin-left: -1%;
margin-bottom: -2%;
}

.baixo{
  margin-bottom: -5%;
  margin-top:-2%;
  margin-left: -1.5%;
  width: auto;
  transform: rotate(180deg)
}